body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}
h1 {
  margin: 0;
  background-color: #2781d1;
  background-image: linear-gradient(to bottom, #2781d1, #148eda);
  color: #f9f9f9;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
  border-bottom: 1px solid #767676;
}
h2 {
  color: #3d6989;
  font-size: 1em;
  margin: 2em 2em -1em 2em;
  text-transform: uppercase;
  font-weight: normal;
}
a {
  color: #2b6de7;
  text-decoration: underline;
}
a:hover,
a.chamada:hover h3,
a.chamada:hover .ver-mais {
  text-decoration: none;
}
a:visited {
  color: #226df8;
}

.placeholder {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1em;
  box-sizing: border-box;
  min-height: 3em;
  min-width: 12em;
  text-align: center;
  line-height: 1.5em;
}

nav {
  /* background-color: #f9f9f9; */
  border: 1px solid #d8d8d8;
  padding: 0;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
nav a {
  padding: 1em;
  display: block;
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-right: 1px solid rgba(0, 0, 0, .1);
  color: #777777;
}
nav a:hover {
  text-decoration: underline;
}
nav a:visited {
  color: #555555;
}

main {
  padding: 2em;
}

.chamada {
  text-decoration: none;
  background-color: white;
  padding: 2em;
  display: block;
  border: 1px solid #d8d8d8;
}
.chamada:not(*:last-child) {
  margin-bottom: 2em;
}
.chamada h3 {
  text-decoration: underline;
  color: black;
  margin: 0 0 1em;
}
.chamada article::before,
.chamada article::after {
  content: "";
  display: table;
  clear: both;
}
.chamada .ver-mais {
  float: right;
  text-decoration: underline;
  margin: 0.5em 0 0 1em;
}

.destaque {
  margin: 2em;
}
.chamada.destaque h3 {
  font-size: 2.5em;
}
.chamada.destaque .imagem {
  width: 100%;
}
.chamada.destaque p {
  font-size: 1.25em;
  line-height: 2em;
}

.chamada.noticia h3 {
  font-size: 2em;
}
.chamada.noticia .imagem {
  float: left;
  margin: 0 1em 1em 0;
}
.chamada.noticia p {
  line-height: 1.5em;
}
