@font-face {
  font-family: "Playfair Display";
  src: url('https://fonts.gstatic.com/s/playfairdisplay/v22/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDXbtM.woff2');
}
h1, h2, h3, .blog-header-logo {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}
.blog-header-logo {
  font-size: 1.8em;
}
.destaque {
  background-image: url('img/wir-sind-keine-bots.jpg');
  background-size: cover;
  background-position: center bottom;
}
.destaque > div {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px black;
}
@media only screen and (min-width: 768px) {
  .jumbotron .display-4 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .jumbotron .display-4 {
    font-size: 2.5rem;
  }
}

.imagem img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
